name: Continuous Integration
on:
  push:
  schedule:
    - cron: "0 0 * * THU"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: npm ci
      - run: npm run compile
      - run: npm run test
      - run: npm run lint
